//- Intro

section
  h1 Before we begin...

section
  h1 Acceptance Test
  h1 !=
  h1 Unit Test

section("data-background"="/asset/do-write-unit-tests.gif", "data-background-opacity"=0.4)
  h1 DO WRITE 
  h1 UNIT TESTS

section("data-background"="/asset/gears.gif", "data-background-opacity"=0.4)
  :markdown
    # This talk is about **(automated) acceptance tests**

section
  h1 Acceptance Test
  h1 !=
  h1 Automated Test

section
  h2 Having the intern make sure that when logging in with Facebook the profile picture is the set correctly
  h2 🏃
  h2 is a test for an acceptance criteria

section("data-background"="/asset/unit-test.gif", "data-background-opacity"=0.4)
  h2 ⌘U, Xcode Bots, Travis CI, Jenkins, etc, can be used to run unit tests automatically

section("data-background"="/asset/kif.gif", "data-background-opacity"=0.4)
  h2 Automated Acceptance Tests
  h2 =
  h2 Acceptance tests run automatically
