//- Problems

section("data-background"="/asset/typewriter.jpg", "data-background-opacity"=0.4)
  h1 Long to write

section("data-background"="/asset/snail.jpg", "data-background-opacity"=0.4)
  h1 Slow to run

section("data-background"="/asset/money.jpg", "data-background-opacity"=0.4)
  h1 Expensive to maintain

section("data-background"="asset/qa2.gif", "data-background-opacity"=0.8)
  h1 Still need QA

section
  h1
   del Apple doesn't care

section("data-background"="/asset/apple-cares.jpg")
  // Apple Care
