//- Problems

section("data-background"="https://s3.amazonaws.com/acceptance-tests-cocoaheads-talk/typewriter.jpg", "data-background-opacity"=0.4)
  h1 Long to write

section("data-background"="https://s3.amazonaws.com/acceptance-tests-cocoaheads-talk/snail.jpg", "data-background-opacity"=0.4)
  h1 Slow to run

section("data-background"="https://s3.amazonaws.com/acceptance-tests-cocoaheads-talk/money.jpg", "data-background-opacity"=0.4)
  h1 Expensive to maintain

section("data-background"="https://s3.amazonaws.com/acceptance-tests-cocoaheads-talk/qa2.gif", "data-background-opacity"=0.8)
  h1 Still need QA

section
  h1
   del Apple doesn't care

section("data-background"="https://s3.amazonaws.com/acceptance-tests-cocoaheads-talk/apple-cares.jpg")
  // Apple Care
