//- The useful scenarios

section("data-background"="/asset/branches.jpg", "data-background-opacity"=0.6)
  h1 "State-intense" & "many-branches" apps

section("data-background"="/asset/spaghetti.jpg", "data-background-opacity"=0.6)
  h1 Refactoring legacy spaghetti code

//section("data-background"="/asset/dilbert-agile.png", "data-background-repeat"="repeat")
section("data-background"="/asset/dilbert-agile.png", "data-background-opacity"=0.6)
  //img(src="/asset/dilbert-agile.png")
  h2 The client with the JIRA board and the acceptance criterias
