//- The useful scenarios

section("data-background"="https://s3.amazonaws.com/acceptance-tests-cocoaheads-talk/branches.jpg", "data-background-opacity"=0.6)
  h1 "State-intense" & "many-branches" apps

section("data-background"="https://s3.amazonaws.com/acceptance-tests-cocoaheads-talk/spaghetti.jpg", "data-background-opacity"=0.6)
  h1 Refactoring legacy spaghetti code

section("data-background"="https://s3.amazonaws.com/acceptance-tests-cocoaheads-talk/dilbert-agile.png", "data-background-opacity"=0.6)
  h2 The client with the JIRA board and the acceptance criterias
